PORT=8080
MONGO_DB_URL=mongodb://127.0.0.1:27017/bookstore
JWT_ACCESS_SECRET=bookstore_access_secret_change_me
JWT_ACCESS_EXPIRE_IN=1d
JWT_REFRESH_SECRET=bookstore_refresh_secret_change_me
JWT_REFRESH_EXPIRE_IN=7d
MIGRATION_USER_PASSWORD=123456
